.about {
	position: relative;
	background-image: url('../img/about-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 90vh;

	&_content {
		padding: 0 15px;
		position: absolute;
		top: 50%;
		left: 0;
		text-align: center;
		width: 100%;
		transform: translateY(-50%);

		h1 {
			font-family: 'Marck Script', cursive;
			font-size: 2.5rem;
			font-weight: 100;
			color: $mainOrange;
			margin-top: 0;
		}

		p {
			max-width: 500px;
			margin: 30px auto;
		}

		img:last-child {
			margin-left: 90px;
		}
	}


}