footer {
	background-image: url('../img/footer-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: auto;
	height: auto;
}
.footer_logo {
	padding-top: 50px;
	text-align: center;
}
.footer_content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	transform: scale(.8);
	font-size: .7rem;
	

	&-phone {
		i {
			color: #fff;
		}
		p {
			color: rgba(255, 255, 255, .6);
		}
	}
	&-social {
		margin-left: 100px;
		color: rgba(255, 255, 255, .6);
		cursor: pointer;
		i {
			padding: 0 5px;
			transition: .3s ease-in;
		}
		i:hover {
			color: $mainOrange;
			transition: .3s ease-in;
		}

	}
	&-location {
		margin-left: 60px;
		i {
			color: #fff;
		}
		p {
			color: rgba(255, 255, 255, .6);
		}
	}
}
.footer_cred {
	text-align: center;
	padding: 20px 0 50px 0;
	font-size: .8rem;
	color: rgba(255, 255, 255, .6);
}

Media Query Mixins

@mixin atiphone6 {
  
}

@mixin at576 {
.footer_content {
	font-size: 1rem;
}
}
@mixin at768 {
.footer_content {
	font-size: 1rem;
}
}
@mixin at992 {
.footer_content {
	font-size: 1rem;
}
}
@mixin at1200 {
.footer_content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	font-size: 1rem;
	transform: scale(1);
	

	&-phone {
		i {
			color: #fff;
		}
		p {
			color: rgba(255, 255, 255, .6);
		}
	}
	&-social {
		margin-left: 87px;
		color: rgba(255, 255, 255, .6);
		cursor: pointer;
		i {
			padding: 0 5px;
			transition: .3s ease-in;
		}
		i:hover {
			color: white;
			transition: .3s ease-in;
			color: $mainOrange;
		}

	}
	&-location {
		margin-left: 0;
		i {
			color: #fff;
		}
		p {
			color: rgba(255, 255, 255, .6);
		}
	}
}
}