$mainOrange: #ff6633;

@font-face {
  font-family: 'Focus';
  src: url('../font/focus-regular.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/focus-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/focus-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/focus-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/focus-regular.svg#svgfocusregular') format('svg'); /* Legacy iOS */
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	font-family: 'Focus';
	line-height: 1.6;

}
.container {
	overflow: hidden;
  	padding-left: 18px;
  	padding-right: 18px;
  	max-width: 1350px;
  	margin-left: auto;
  	margin-right: auto;
}
.wrapper-nav {
	overflow: hidden;
  	padding-left: 18px;
  	padding-right: 18px;
  	max-width: 1750px;
  	margin-left: auto;
  	margin-right: auto;
}