/*.main_nav {
	position: fixed;
	z-index: 1;
	display: flex;
	background-color: rgba(255, 255, 255, .6);
	width: 100%;
	margin: auto;
	height: 15vh;
	align-items: center;
	justify-content: space-around;

	& ul {
		display: flex;
		align-items: center;
	}

	& li {
		list-style: none;
		background-color: blue;
		margin-right: 50px;
	}

	& a {
		color: #fff;
		text-decoration: none;
	}

	&-logo {
		background-color: pink;
	}
}*/

header {
	z-index: 2;
	position: fixed;
	display: flex;
	width: 100%;
	height: 15vh;
	margin: auto;
	padding: 0 10px 0 10px;
	align-items: center;

	& .main_nav-logo, .main_nav-link, .main_nav-social {
		display: flex;
	}

	& .main_nav-logo {
		justify-content: flex-end;
		flex: 1;
		transform: translateY(7px);
		cursor: pointer;
		padding-right: 45px;
	}

	& nav {
		flex: 3;
	}

	& .main_nav-link {
		justify-content: flex-end;

		li {
			list-style: none;

		}
		a {
			text-decoration: none;
			margin-right: 50px;
			font-size: 1.1rem;
			color: #fff;
		}
		a:hover {
			color: $mainOrange;
			transition: .3s ease-in;
		}
	}

	& .main_nav-social {
		flex: 1;
		justify-content: flex-start;
		color: rgba(255, 255, 255, .6);

		i {
			margin-left: 20px;
			cursor: pointer;
		}
		i:hover {
			color: rgba(255, 255, 255, 1);
			transition: .3s ease-in;
		}
	}

	& .main_nav-burger {
		
		position: absolute;
		visibility: visible;
		

		div {

			background-color: #fff;
			z-index: 3;
			width: 25px;
			height: 5px;
			margin: 3px;
		}
	}
}

/*Media Query Mixins*/

@mixin atiphone6 {
  
}

@mixin at576 {
header .main_nav-burger {

}
}
@mixin at768 {

}
@mixin at992 {
header .main_nav-burger {

}
}
@mixin at1200 {
header .main_nav-burger {
	visibility: hidden;
}
}














