.ingre_content {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	height: 100vh;
	position: relative;
}
.ingre_content-left {
	grid-column: 1/13 ;
	position: relative;
	top: 50%;
	left: 0;
	text-align: center;
	width: 100%;
	transform: translateY(-50%) scale(.55);
	height: 40vh;

	img {
		padding-right: 50px;
	}
}
.ingre_content-right {
	background-image: url('../img/ingre-right-img.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	grid-column: 1/13;
	position: relative;
	height: 60vh;

	&-info {
		position: absolute;
		top: 50%;
		left: 0;
		text-align: center;
		width: 100%;
		transform: translateY(-53%);

		h1 {
			font-family: 'Marck Script', cursive;
			color: #fff;
			font-size: 2.5rem;
			margin-bottom: 0;
		}

		img:nth-child(2){
			margin-bottom: 20px;
		}
		img:nth-child(4){
			margin-top: 20px;
			
		}
		img:nth-child(5){
			margin-top: 20px;
			
		}
		img:nth-child(6){
			margin-top: 20px;
			
		}

		p {
			color: #fff;
			font-size: 1rem;
			max-width: 400px;
			margin: 0 auto 20px auto;
		}
	}
}

/*Media Query Mixins*/

@mixin atiphone6 {
.ingre_content {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	height: auto;
	position: relative;
}

.ingre_content-left {
	grid-column: 1/13 ;
	position: relative;
	top: 50%;
	left: 0;
	text-align: center;
	width: 100%;
	transform: translate( -10%, -50%) scale(.4);
	/*height: 30vh;*/
}

.ingre_content-right {
	background-image: url('../img/ingre-right-img.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	grid-column: 1/13;
	position: relative;
	/*height: 70vh;*/

	&-info {
		position: absolute;
		top: 50%;
		left: 0;
		text-align: center;
		width: 100%;
		transform: translateY(-50%) scale(.7);

		h1 {
			font-family: 'Marck Script', cursive;
			color: #fff;
			font-size: 2.5rem;
			margin-bottom: 0;
		}

		img:nth-child(2){
			margin-bottom: 20px;
		}
		img:nth-child(4){
			margin-top: 20px;
			
		}
		img:nth-child(5){
			margin-top: 20px;
			
		}
		img:nth-child(6){
			margin-top: 20px;
			
		}

		p {
			color: #fff;
			font-size: 1rem;
			max-width: 400px;
			margin: 0 auto 20px auto;
		}
	}
}

}

@mixin at576 {

}
@mixin at768 {

}
@mixin at992 {

}
@mixin at1200 {
.ingre_content {

	height: 80vh;

}
.ingre_content-left {
	grid-column: 3/6 ;
	position: absolute;
	margin-right: 15px;
	transform: translate(-15%, -50%);
}
.ingre_content-right {
	grid-column: 7/11 ;
	height: 80vh;

		&-info {
		position: absolute;
		top: 50%;
		left: 0;
		text-align: center;
		width: 100%;
		transform: translateY(-50%);
	}

	}
}
