.review {
	
}
.reviews_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&-img {
		margin-top: 150px;
	}
	h1 {
		font-family: 'Marck Script', cursive;
		font-size: 2rem;
		margin-bottom: 0;
		text-align: center;
	}
	img:nth-child(6) {
		margin-top: 10px;
	}
	p {
		max-width: 800px;
		margin-top: 30px;
		text-align: center;
		line-height: 2;
		font-size: 1.2rem;
	}
}